// @import '../SCSS/cssVariable.scss';


// .forumspage{
//     padding: 0px;
//     .fullheightTable{
//         position: relative;
//         height: 100%;
//     .addSize{
//         padding: 1em;
//         height: 100%;
//     .forumTable{
//         height: 98%;
//         overflow-y: scroll;
//         width: 50%;
//             table{
//                 width: 100%;
//                 th{
//                     @include tableth();
//                 }
//                 td{
//                     @include tabletd();
//                     span{
//                         color: $light-primary;
//                         font-family: $lightFntFmly;
//                     }
//                 }
//                 tr:nth-child(even) {
//                     background-color: $light-color;
//                 }
//                 td:nth-child(2), td:nth-child(3){
//                     width: 25%;
//                 }
//             }
//     }
// }
//     }
// }
@import '../SCSS/cssVariable.scss';


.forumspage{
    padding: 0px;
    .fullheightTable{
        position: relative;
        height: 100%;
    .addSize{
        padding: 1em;
        height: 100%;
    .forumTable{
        height: 98%;
        overflow-y: scroll;
        width: 50%;
            table{
                width: 100%;
                th{
                    @include tableth();
                }
                td{
                    @include tabletd();
                    span{
                        color: $light-primary;
                        font-family: $lightFntFmly;
                    }
                }
                tr:nth-child(even) {
                    background-color: $light-color;
                }
                td:nth-child(2), td:nth-child(3){
                    width: 25%;
                }
            }
    }
}
    }

}
.table-wrap{
    padding:5px 15px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-direction: column;
    .right-section{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .ant-space {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        h4{
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
        input{
            font-size: 14px;

        }

        button{
            background-color: $primary-color;
            color: #fff;
            border-color: $primary-color;
           
            &:hover{
                border-color:$logo1-color    !important;
                background-color:$logo1-color!important;
                color: #fff !important;
            }
            
        }
    .ant-table-wrapper{
        border-radius: 10px;
        box-shadow: 1px 1px 7px #999;
        .ant-table-content{
            th{
                background-color: #fae5ff;
        }
        }
        
        .ant-table-cell{
            
            padding: 10px;
        }
    }
}

.showContent{
    .ant-picker{
        width: 270px;
        height: 40px;
        .anticon-calendar{
            svg{
                fill: #595c5f;
            }
        }
        .ant-picker-input{
            input{
                font-size: 16px;
                &::placeholder{
                    color: #595c5f;
                }
            }
        }
    }
}
.ant-table-pagination.ant-pagination{
    // display: none;
}
.password-page{
    .ant-table-pagination.ant-pagination{
        display: flex;
        margin-right: 20px;
    }
}
.button-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
@media screen and (max-width:768px){
    .recent-comment-wrap{
        display: none;
    }
}